body {
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:blue;
}
head{
font-family:"Comic Sans MS", cursive, sans-serif;
	color:blue;
}
p{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:green;
}
ul{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:yellow;
}
ol{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:teal;
}
.footer{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:purple;
}
.ui-btn-text{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:purple;
}
.required{
	color:red;
}
.headerButton{
	
	color:cyan;
}
.headerButton.ui-btn-text{
	
	color:green;
}