body {
	font-family: "Verdana", Geneva, sans-serif;S
	color:blue;
}
head{
	font-family: "Verdana", Geneva, sans-serif;
	color:blue;
}
div{
	background-color:rgb(222, 230, 255);
}
p{
	font-family: "Verdana", Geneva, sans-serif;
	color:black;
}
ul{
	font-family: "Verdana", Geneva, sans-serif;
	color:black;
}
ol{
	font-family: "Verdana", Geneva, sans-serif;
	color:black;
}
h3{
	font-family: "Verdana", Geneva, sans-serif;
	//font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	//font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:rgb(55,161,214);
}
h2{
	color:rgb(0,0,115);
	font-family: "Verdana", Geneva, sans-serif;
	
}
legend{
	font-family: "Verdana", Geneva, sans-serif;
	color:teal;
}
strong{
	font-family: "Verdana", Geneva, sans-serif;
	color:rgb(0,0,255);
}
.footer{
	//font-family:"Comic Sans MS", cursive, sans-serif;
	font-family: "Verdana", Geneva, sans-serif;
	color:purple;
}
.ui-btn-text{
	//font-family:"Comic Sans MS", cursive, sans-serif;
	//font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-family: "Verdana", Geneva, sans-serif;
	//font-family: "Trebuchet MS", Helvetica, sans-serif;
	//color:purple;
	color:black;
}
/*
.ui-btn{
	background-image: url(../icons/bubble.jpg);
	background-repeat: repeat;
	left:10px;
	top: 5px;
	opacity: 1.0; !important
}
*/
.button{
	background-image: url(../icons/tinybubble.png);
	background-repeat: repeat;
	left:10px;
	top: 5px;
	opacity: 0.4; !important
}
.required{
	color:rgb(208,36,40);
}

.headerButton span.ui-btn-text{
	color:rgb(200,255,255);
}
.pageTitleText{
	//font-family:"Tahoma, Geneva", sans-serif;
	//font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-family: "Verdana", Geneva, sans-serif;
	//font-family: "Trebuchet MS", Helvetica, sans-serif;
	//font-family:"Comic Sans MS", cursive, sans-serif;
	color:rgb(100,255,255);
}
.ui-li-heading{
	font-family: "Verdana", Geneva, sans-serif;
	color:rgb(200,255,255); //lihgt yellow
}
.ui-controlgroup-label
	//font-family:"Comic Sans MS", cursive, sans-serif;
	font-family: "Verdana", Geneva, sans-serif;
	color:purple;
}
.ui-input-text{
	//font-family:"Comic Sans MS", cursive, sans-serif;
	font-family: "Verdana", Geneva, sans-serif;
}
.createEventLabel {
	color:purple;
}
.logoImg {
	
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#indexFooter {
	text-align:center;
	data-position:fixed;
}

/*
OLD ICONS
button.foodbutton{
	background-image: url(../icons/byTiph/food32c.png);
	background-repeat: no-repeat;
}
button.sportsbutton{
	background-image: url(../icons/byTiph/sports32C.png);
	background-repeat: no-repeat;
}
button.gamesbutton{
	background-image: url(../icons/byTiph/games32C.png);
	background-repeat: no-repeat;
}
button.watchbutton{
	background-image: url(../icons/byTiph/watch32C.png);
	background-repeat: no-repeat;
}
button.studybutton{
	background-image: url(../icons/byTiph/study32c.png);
	background-repeat: no-repeat;
}
button.otherbutton{
	background-image: url(../icons/byTiph/other32C.png);
	background-repeat: no-repeat;
}
.ui-icon-sports {
	background: url(../icons/byTiph/sports18c.png) no-repeat rgba(0, 0, 0, 0.4) !important;
}
*/

button.foodbutton{
	background-image: url(../icons/events/food.png);
	background-repeat: no-repeat;
	left:10px;
	top: 5px;
	opacity: 1.0; !important
}
button.sportsbutton{
	background-image: url(../icons/events/sports.png);
	background-repeat: no-repeat;
	left:10px;
	top:5px;
	opacity: 1.0; !important
}
button.gamesbutton{
	background-image: url(../icons/events/games.png);
	background-repeat: no-repeat;
	left:10px;
	top:5px;
	opacity: 1.0; !important
}
button.watchbutton{
	background-image: url(../icons/events/watch.png);
	background-repeat: no-repeat;
	left:10px;
	top:5px;
	opacity: 1.0; !important
}
button.studybutton{
	background-image: url(../icons/events/study.png);
	background-repeat: no-repeat;
	left:10px;
	top:5px;
	opacity: 1.0; !important
}
button.otherbutton{
	background-image: url(../icons/events/other.png);
	background-repeat: no-repeat;
	left:10px;
	top:5px;
	opacity: 1.0; !important
}